/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/settings/settings.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.settings_settingsContainer__OiAFk {
  padding: 30px;
  background: white;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 40px);
}

.settings_title__DMbFh {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.settings_settingsForm__QFBN5 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings_formGroup___ZcmN {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings_formGroup___ZcmN label {
  min-width: 100px;
  color: #666;
  font-size: 16px;
}

.settings_formGroup___ZcmN input {
  flex: 1 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  max-width: 400px;
  background: white;
}

.settings_formGroup___ZcmN input:focus {
  outline: none;
  border-color: #2196f3;
}

@media (max-width: 768px) {
  .settings_settingsContainer__OiAFk {
    padding: 20px;
  }

  .settings_formGroup___ZcmN {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .settings_formGroup___ZcmN label {
    min-width: auto;
  }

  .settings_formGroup___ZcmN input {
    width: 100%;
    max-width: none;
  }
}
