/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/settings/settings.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.settings_settingsContainer__OiAFk {
  padding: 30px;
  background: white;
  min-height: calc(100vh - 40px);
  border-radius: 15px;
}

.settings_title__DMbFh {
  font-size: 24px;
  color: #26415E;
  margin-bottom: 30px;
}

.settings_settingsForm__QFBN5 {
  max-width: 600px;
}

.settings_formGroup___ZcmN {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.settings_formGroup___ZcmN label {
  width: 120px;
  color: #26415E;
  font-size: 16px;
}

.settings_input__ErsDg {
  flex: 1 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #26415E;
  background: white;
}

.settings_input__ErsDg::placeholder {
  color: #26415E;
}

.settings_input__ErsDg:focus {
  outline: none;
  border-color: #2196f3;
}

@media (max-width: 768px) {
  .settings_settingsContainer__OiAFk {
    padding: 20px;
  }

  .settings_formGroup___ZcmN {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings_formGroup___ZcmN label {
    margin-bottom: 8px;
  }

  .settings_input__ErsDg {
    width: 100%;
  }
}
