@media (max-width: 1024px) {
  .sidebar {
    width: 70%;
    height: auto;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
  }

  .mainContent {
    margin-left: 0;
    border-radius: 15px;
    
  }

  .nav {
    margin-bottom: 20px;
  }
}
.container {
  display: flex;
  margin: 0;
  height: 100vh;
  /* justify-content: center; */
  align-items: left;
  flex-direction: column;
  /* width: 200%; */
  /* height: 500vh; */
  /* height: 500%; */
  min-height: 100%;
  /* height: auto; */
  font-size: 16px;
  flex-wrap: wrap;
  flex-grow: 1;
  background :linear-gradient(45deg, #26415E, #83A6CE, #26415E);
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.sidebar {
  width: 220px;
  background: rgb(255, 255, 255);
  border-right: 1px solid #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

.sidebarHeader {
  margin-bottom: 30px;
}

.sidebarHeader h1 {
  font-size: 24px;
  color: #26415E;
  margin-bottom: 10px;
   display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
 
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2e63a0;
  font-size: 14px;
}

.userIcon {
  width: 20px;
  height: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  color: #666;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s;
}

.nav a:hover, 
.nav a.active {
  background: #83A6CE;
  color: #26415E;
}

.icon {
  width: 20px;
  height: 20px;
}


.signOutButton {
  background-color: #1e2235;
  border-radius: 20px;
  display: block;
  height: 100%;
  transform: none;
  transition: transform 50ms ease;
  width: 100%;
}
.signOutButton:hover {
  background-color: #26415E;
  color: #fff;
  cursor: pointer;
}
  
.balance {
  margin-top: auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
}

.balance p {
  color: #666;
  margin-bottom: 8px;
}

.balance h2 {
  color: #26415E;
  font-size: 24px;
}

.mainContent {
  flex: 1;
  margin-left: 230px;
  padding: 15px 40px;
  background: (45deg, #26415E, #83A6CE, #26415E);
  border-radius: 20px; 
  flex-wrap: wrap;
  flex-grow: 1;
  /* width: 100%; */
}

@media (max-width: 768px) {
  .sidebar {
    width: 70%;
    height: auto;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
  }

  .nav {
    margin-bottom: 20px;
  }
}
.userEmail{
  font-size: 18px;
}
