.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.filters {
  margin-bottom: 20px;
  text-align: center;
}

.filters button {
  margin-right: 10px;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  background-color: #558a60;
  color: rgb(26, 20, 20);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #222c36;
}

.reportContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reportSection {
  flex: 1;
  max-width: 45%;
}

.chartContainer {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 300px;
  width: 300px;
}

.chartContainer h2 {
  margin-bottom: 15px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stats span {
  font-size: 16px;
  font-weight: bold;
}

.stats .value {
  color: #28a745;
}

.chartContainer canvas {
  margin: auto;
}
